<%= simple_form_for([tour, booking]) do |f| %>
  <div class="d-flex align-items-start mb-0">
    <%= f.input :start_date, label: false, as: :date, html5: true %>
    <%= f.button :submit, class: "btn btn-info flex-grow-1 py-1.5", value: "Book" %>
  </div>
<% end %>
