<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
  https://images.unsplash.com/photo-1554222413-74348b32d66e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80
  );">
  <div class="container">
    <h1>Experience unforgettable moments with <strong>City Stroll</strong>!</h1>
    <p>Discover all tours below</p>
  </div>
</div>

<div class="container">

  <div class="mt-5">
    <h3>All tours </h3>
  </div>

  <div class="row">

    <% @tours.each do |tour| %>

      <div class="col-lg-3 col-md-4 col-sm-12 mt-2">

        <%= render "shared/tour_card", tour: tour %>

      </div>

    <% end %>

  </div>

</div>
