.banner-lw {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner-lw {
  h1, h2{
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: "Montserrat";
  }
}

.banner-lw p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.carousel-images-banner {
  background-size: cover;
  background-position: center;
  height: 600px;
  padding: 150px 0;
}
