.btn-flat {
width: 200px;
background-color: #F8DAD2;
border: 1px solid #F0CEC5;
text-decoration: none;
border-radius: 65px;
color: white;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.btn-flat:hover {
  background-color: #F0CEC5;
  color: white !important;
}

.btn-success, .btn-primary, .btn-info{
  color: white;
  font-weight: bold;
  &:hover{
    color: white;
  }
}
