.btn-flat {
width: 200px;
background-color: #E57E9B;
border:#E57E9B;
text-decoration: none;
border-radius: 5px;
color: white;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn-flat:hover {
  background-color: #C40040;
}
